{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <form action="{% url 'posts:detail' post.pk %}" method="post">
    {% csrf_token %}
    <div style="display: inline-block; text-align: center;">    
      <input type="radio" id="select1" name="answer" value="select1">
      <label for="select1">{{ post.select1_content }}</label><br>
      {% if post.select1_image %}
        <div style="text-align: center;">
          <img src="{{ post.select1_image.url }}" alt="select1_image" width="100" height="100">
        </div>
      {% endif %}
    </div>
    <div style="display: inline-block; text-align: center;">      
      <input type="radio" id="select2" name="answer" value="select2">
      <label for="select2">{{ post.select2_content }}</label><br>
      {% if post.select2_image %}
        <div style="text-align: center;">
          <img src="{{ post.select2_image.url }}" alt="select2_image" width="100" height="100">
        </div>
      {% endif %}
    </div>
    <button type="submit">제출</button>
  </form>
  <ul>
    <div>
      <li>
        <p>{{ post.select1_content }}이 좋아!! : {{ post.select1_users.count }}</p>
      </li>
      <li>
        <p>{{ post.select2_content }}이 좋아!! : {{ post.select2_users.count }}</p>
      </li>
    </div>
  </ul>
  {% if request.user == post.user %}
    <form action="{% url 'posts:delete' post.pk %}" method='POST'>
      {% csrf_token %}
      <button type="submit">삭제</button>
    </form>
  {% endif %}
  <a href="{% url 'posts:index' %}">[뒤로가기]</a>

  <form action="{% url 'posts:comment_create' post.pk %}" method='POST'>
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit">댓글 작성</button>
  </form>
  <hr>

  <div>
    <h4>댓글 목록</h4>
    <p>전체 댓글 : {{ comments|length }}</p>
  </div>
  <ul>
    {% for comment in comments %}
    <li>
        {{ comment.content }}
        {% if request.user == comment.user %}
        <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method='POST'>
          {% csrf_token %}
          <button type="submit">댓글 삭제</button>
        </form>
        {% endif %}
    </li>
  {% empty %}
    <p>댓글이 없어요</p>
  {% endfor %}
  </ul>
{% endblock content %}